<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Administracja-Lotnisko</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div th:replace="/nav.html"></div>
<div class="container">


    <form class="needs-validation" th:object="${airport}" method="post" th:action="@{'/add/airport'}" novalidate>
        <div class="mb-3">
            <label for="airport">Nazwa Lotniska</label>
            <input type="text" id="airport" th:field="*{name}" class="form-control" required>
            <div class="invalid-feedback">
                Proszę podać nazwę lotniska.
            </div>
        </div>

        <div class="mb-3">

            <label for="city">Miasto</label>
            <select id="city" th:field="*{city}" class="form-select form-select-sm"
                    aria-label=".form-select-sm example" required>
                <option th:value="${null}">Wybierz miasto</option>
                <option th:each="city:${cities}"
                        th:value="${city.id}"
                        th:text="${city.name}"></option>
            </select>
            <div class="invalid-feedback">
                Proszę wybrać miasto.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
<script type="text/javascript" th:src="@{../validation.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>